@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


@import "tailwindcss";


body {
  /* font-family: "Archivo Black", sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300px;
  font-style: normal;
  background-color: rgb(13, 13, 61);
  color: yellowgreen;

}


/* #typed {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: italic;
} */

/* .saira-<uniquifier> {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */