@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


@import "tailwindcss";


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300px;
  font-style: normal;
  background-color: rgb(13, 13, 61);
  color: yellowgreen;

}


.Skill {
  border-left: 2px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  scrollbar-width: none;

}

.Skill::-webkit-scrollbar-thumb {
  display: none;
}